body{
    background-color: #dddfd4;
    overflow-x: hidden;
}

form{
    width: 30%;
}

.loginForm {
    display: flex;
    justify-content: center;
    max-width: 100%;
    font-family: "Microsoft New Tai Lue";
    color: black;
}

input {
    width: auto;
    background-color: white;
    transition: 0.5s;
    border: 0.1em;
    height: 1.5em;
    font-size: 1em;
    color: #173e43;
}


legend{
    align-content: center;
    font-size: 1.5em;
    color: #16174f;
}




